


<div class="center-wrapper">

<div class="main-content">

<div class="edit-comment">


<h2>Edit comment</h2>
<form action="/comments/<%= @comment.id %>" method="POST">
<input type="hidden" name="_method" value="patch">


Type here: 
<textarea class="big-input-field" type="text" name="content" > 
<%= @comment.content %>
</textarea>



<input class="button-link" type="submit" value="Save changes">
</form> 

</div> <!-- end class edit comment -->

</div> <!-- end class main content -->
</div> <!-- end class center wrapper -->




