
<h2>Edit comment</h2>
<form action="/comments/<%= @comment.id %>" method="POST">
<input type="hidden" name="_method" value="patch">


Content: <input type="text" name="content" value="<%= @comment.content %>"><br>


<input type="submit" value="Save changes">
</form>