

<div class="center-wrapper">

<div class="main-content">


<div class="new-comment">


<h4>Add a new comment to recipe for <%= Recipe.find_by(id: @recipesourceid).name %> </h4>
<form action="/comments" method="POST">
<input type="hidden" name="recipesourceid" value="<%= @recipesourceid %>" >


Type here: 
<textarea class="big-input-field" type="text" name="content" > 
</textarea>


<input class="button-link" type="submit" value="Add comment">
</form>




</div> <!-- end class new comment -->



</div> <!-- end class main content -->
</div> <!-- end class center wrapper -->


