


<div class="center-wrapper">

<div class="main-content">

<div class="batchnew-task">


<h2>Add multiple tasks </h2>
<form action="/tasks" method="POST">
<input name="name" type="hidden" value="">

<% 15.times {  %>

Name: (required) <input name="[tasks][][name]" ><br>
Due in <input name="[tasks][][due]" > days<br>
<br>
<% } %>

<input class="button-link" type="submit" value="Add Tasks">

</form>


</div> <!-- end class batchnew-task -->

</div> <!-- end class main content -->
</div> <!-- end class center wrapper -->