
<h2>Edit  task:</h2>
<form action="/tasks/<%= @task.id %>" method="POST">
<input type="hidden" name="_method" value="patch">


Name: <input type="text" name="name" value="<%= @task.name %>" ><br>
Due in  <input type="text" name="due" > days from now
<br>
<input type="submit" value="Save Changes">
</form>