<h2>Add a new task</h2>
<form action="/tasks" method="POST">


Name: <input type="text" name="name" ><br>
Due in  <input type="text" name="due" > days from now
<br>
<input type="submit" value="Add task">
</form>