

<div class="center-wrapper">

<div class="main-content">

<div class="new-task">


<h2>Add a new task</h2>
<form action="/tasks" method="POST">


Name: <input type="text" name="name" ><br>
Due in  <input type="text" name="due" > days from now
<br>
<input class="button-link" type="submit" value="Add task">
</form>



</div> <!-- end class new-task -->

</div> <!-- end class main content -->
</div> <!-- end class center wrapper -->