
<div class="center-wrapper">
<div class="bannerbox">
<img src="https://www.saveur.com/resizer/asaf8ciTyhcWxmNBSBTE4r-z6wE=/869x613/arc-anglerfish-arc2-prod-bonnier.s3.amazonaws.com/public/KUGEATRKRJLEY2BDQDA6DJCD6I.jpg">
<a  href="">

<span class="top-header"><h1>Recipes</h1></span>

</a>
</div>

<div class="main-content">
<h2>Recipes </h2>

<a class="button-link" href="/recipes/new">Add a new recipe</a>


<div class="celled-list">

<% @recipes.each do |recipe| %>
  <div class="item">

  <div class="content">

  <div class="left-side">

  <div class="header">


  <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>

  </div>  <!-- end of class header -->

  </div> <!-- end of class left-side -->


  <div class="right-side">

  <div class="dropdown">
  <button class="dropbtn">...</button>
  <div class="dropdown-content">


  <a class="dropdownmenu-link" href="/recipes/<%= recipe.id %>/edit">Edit</a>

  <div style="display: inline-block">
  <form action="/recipes/<%= recipe.id %>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input class="dropdownmenu-link" type="submit" value="Delete Recipe">
</form>
  </div>


  </div> <!-- end class dropdown-content -->
</div> <!-- end class dropdown -->




</div> <!-- div right side -->

</div> <!-- div class content -->
</div> <!-- div class item -->

<% end %> <!-- end of recipes.each do | recipe | -->




</div> <!-- div class celled list -->


</div> <!-- div main-content -->

</div> <!-- div center-wrapper -->