<h2>Create a new recipe</h2>

<form action="/recipes" method="POST">
Name: (required) <input name="recipe[name]" ><br>
Ingredients: <br>
<br>
<% 15.times {  %>

Amount: <input name="recipe[ing][][amount]">
Ingredient: <input name="recipe[ing][][name]">
<br>
<% } %>
Instruction (required): 
<br>
<textarea name="recipe[content]" rows="15" cols="50">Type your cooking instructions here</textarea><br>
<input type="submit" value="Add Recipe">
</form>