

<div class="center-wrapper">


    <a class="bannerbox" href="/fridge">

    <span class="top-header"><h1>My Kitchen</h1></span>

  </a>
  

<div style="height:100px;  ">
<div class="ui huge header" style="padding-top: 30px; text-align: center;">
Cabinets
</div>
</div>
<div class="bannerbox">
    <a href="/fridge">
  <img src="/images/fridge.jpg">
  <div class="section-title">
  <div class="ui huge header" style="color: white">
  Fridge
  </div>
  </div>

  </a>

</div>

<div class="bannerbox">
<a href="/pantry" style="color: white">
  <img src="/images/pantry.jpg">
  <div class="section-title">
  <div class="ui huge header" >Pantry</div>

  </div></a>
</div>

<div class="bannerbox">
<a href="/freezer" style="color: white">
<img src="/images/freezer.jpg">
<div class="section-title">
  <div class="ui huge header" >Freezer</div>

  </div></a>
</div>

<div class="bannerbox">
<a href="/spices" style="color: white">
<img src="/images/spices.jpg">
<div class="section-title">
  <div class="ui huge header" >Spices</div>

  </div></a>
</div>

<div class="bannerbox">
<a href="/spoiled" style="color: white">
<img src="/images/spoiled.jpg">
<div class="section-title">
  <div class="ui huge header" >Spoiled</div>

  </div></a>
</div>

<div class="bannerbox">
<a href="/tasks" style="color: white">
<img src="/images/tasks.png">
  <div class="section-title">
  <div class="ui huge header" >Tasks</div>

  </div></a>
</div>

<div class="bannerbox">
<a href="/groceries" style="color: white">
<img src="/images/groceries.jpg">
<div class="section-title">
  <div class="ui huge header" >Groceries</div>

  </div></a>
</div>

<div class="bannerbox">
<a href="/recipes" >
<img src="/images/recipes.jpg">
<div class="section-title">
  <div style="">Recipes</div>

  </div></a>
</div>





</div>

