

<div class="center-wrapper">


    <a class="bannerbox" href="/fridge">

    <span class="top-header"><h1>My Kitchen</h1></span>

  </a>
  

<div style="height:100px;  ">
<div class="ui huge header" style="padding-top: 30px; text-align: center;">
Cabinets
</div>
</div>
<div class="bannerbox">
    <a href="/fridge">
  <img src="/images/fridge.jpg">
  <div class="section-title">
  <div class="ui huge header" style="color: white">
  Fridge
  </div>
  </div>

  </a>

</div>

<div class="bannerbox">
<a href="/pantry" style="color: white">
  <img src="https://www.saveur.com/resizer/asaf8ciTyhcWxmNBSBTE4r-z6wE=/869x613/arc-anglerfish-arc2-prod-bonnier.s3.amazonaws.com/public/KUGEATRKRJLEY2BDQDA6DJCD6I.jpg">
  <div class="section-title">
  <div class="ui huge header" >Pantry</div>

  </div></a>
</div>

<div class="bannerbox">
<a href="/freezer" style="color: white">
  <img src="https://foodinjars.com/wp-content/uploads/2018/02/freezer-compartment-before-640.jpg">
  <div class="section-title">
  <div class="ui huge header" >Freezer</div>

  </div></a>
</div>

<div class="bannerbox">
<a href="/spices" style="color: white">
  <img src="https://sanfrancisco.cbslocal.com/wp-content/uploads/sites/15116056/2020/03/CHwhoundfeat1.jpg?w=1081">
  <div class="section-title">
  <div class="ui huge header" >Spices</div>

  </div></a>
</div>

<div class="bannerbox">
<a href="/spoiled" style="color: white">
  <img src="https://cdn.gardenista.com/wp-content/uploads/2017/08/sustainability-copper-compost-pail-in-alice-waters-copper-sink-1466x977.jpg">
  <div class="section-title">
  <div class="ui huge header" >Spoiled</div>

  </div></a>
</div>

<div class="bannerbox">
<a href="/tasks" style="color: white">
  <img src="https://cdn.remodelista.com/wp-content/uploads/2016/12/green-craftsman-kitchen-berkeley-alice-waters-1466x977.jpg">
  <div class="section-title">
  <div class="ui huge header" >Tasks</div>

  </div></a>
</div>

<div class="bannerbox">
<a href="/groceries" style="color: white">
  <img src="https://i.pinimg.com/originals/ba/ab/3a/baab3a28eed977a565f655ae940ef693.jpg">
  <div class="section-title">
  <div class="ui huge header" >Groceries</div>

  </div></a>
</div>

<div class="bannerbox">
<a href="/recipes" >
  <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX2645029.jpg">
  <div class="section-title">
  <div style="">Recipes</div>

  </div></a>
</div>





</div>

