<a href="/logout">Log Out</a>

<style>

.homebox {
    position: relative; display: flex; width: 700px; height: 450px; border: 1px solid red; overflow:hidden;
}

.homebox img {
    width: 100%;
    opacity: 0.9;
    
    
}

.homebox-header {
    position: absolute; left: 10; bottom: 20; border:1px solid green; 
}

.home-header {
    position: absolute; top: 120; left: 160; border:1px solid green; 
}

.center-wrapper {
    background-color: white;
    border: 1px solid blue;
    margin: 0 auto;
    dispay: inline-block;
    width: 700px;
    padding-bottom: 200px;
}

body {

    background-image: url("https://cdn.remodelista.com/wp-content/uploads/2016/12/alice-waters-kitchen-vignette-copper-pot-herbs-oils-1466x978.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}
</style>

<h2> </h2>


<div class="center-wrapper">


<div class="homebox">
    <a href="/fridge">
  <img src="https://cdn.remodelista.com/wp-content/uploads/2016/12/green-craftsman-kitchen-berkeley-alice-waters-1466x977.jpg">
  <div class="home-header">
  <div class="ui huge header" style="color: white">
  My Kitchen
  </div>
  </div>

  </a>

</div>

<div style="height:100px;  ">
<div class="ui huge header" style="padding-top: 30px; text-align: center;">
Cabinets
</div>
</div>
<div class="homebox">
    <a href="/fridge">
  <img src="https://cdn.remodelista.com/wp-content/uploads/2016/12/green-craftsman-kitchen-berkeley-alice-waters-1466x977.jpg">
  <div class="homebox-header">
  <div class="ui huge header" style="color: white">
  Fridge
  </div>
  </div>

  </a>

</div>

<div class="homebox">
<a href="/pantry" style="color: white">
  <img src="https://www.saveur.com/resizer/asaf8ciTyhcWxmNBSBTE4r-z6wE=/869x613/arc-anglerfish-arc2-prod-bonnier.s3.amazonaws.com/public/KUGEATRKRJLEY2BDQDA6DJCD6I.jpg">
  <div class="homebox-header">
  <div class="ui huge header" >Pantry</div>

  </div></a>
</div>

<div class="homebox">
<a href="/freezer" style="color: white">
  <img src="https://foodinjars.com/wp-content/uploads/2018/02/freezer-compartment-before-640.jpg">
  <div class="homebox-header">
  <div class="ui huge header" >Freezer</div>

  </div></a>
</div>

<div class="homebox">
<a href="/spices" style="color: white">
  <img src="https://sanfrancisco.cbslocal.com/wp-content/uploads/sites/15116056/2020/03/CHwhoundfeat1.jpg?w=1081">
  <div class="homebox-header">
  <div class="ui huge header" >Spices</div>

  </div></a>
</div>

<div class="homebox">
<a href="/spoiled" style="color: white">
  <img src="https://cdn.gardenista.com/wp-content/uploads/2017/08/sustainability-copper-compost-pail-in-alice-waters-copper-sink-1466x977.jpg">
  <div class="homebox-header">
  <div class="ui huge header" >Spoiled</div>

  </div></a>
</div>

<div class="homebox">
<a href="/tasks" style="color: white">
  <img src="https://cdn.remodelista.com/wp-content/uploads/2016/12/green-craftsman-kitchen-berkeley-alice-waters-1466x977.jpg">
  <div class="homebox-header">
  <div class="ui huge header" >Tasks</div>

  </div></a>
</div>

<div class="homebox">
<a href="/groceries" style="color: white">
  <img src="https://i.pinimg.com/originals/ba/ab/3a/baab3a28eed977a565f655ae940ef693.jpg">
  <div class="homebox-header">
  <div class="ui huge header" >Groceries</div>

  </div></a>
</div>

<div class="homebox">
<a href="/recipes" >
  <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX2645029.jpg">
  <div class="homebox-header">
  <div style="color: white; font-family: Helvetica; font-style: italic; font-size: 2.5rem;">Recipes</div>

  </div></a>
</div>





</div>

