


<div class="center-wrapper">

<div class="main-content">

<div class="batchnew-groceries">


<h2>Add multiple grocery items 
</h2>
Add multiple grocery items 
(for amount, it only accept integers. no words. words will get parsed and converted )

<form action="/groceries" method="POST">
<input name="name" type="hidden" value="">

<% 15.times {  %>

Name: (required) <input name="[items][][name]" ><br>
Amount: <input name="[items][][amount]" ><br>
<br>
<% } %>

<input class="button-link" type="submit" value="Add Items">

</form>

</div> <!-- end class batchnew-groceries -->

</div> <!-- end class main content -->
</div> <!-- end class center wrapper -->


