


<div class="center-wrapper">

<div class="main-content">

<div class="batchnew-listitem">


<h2>Add multiple kitchen items to <%= @list.name %>
</h2>


<form action="/items" method="POST">
<input name="name" type="hidden" value="">
<input name="list" type="hidden" value="<%= @list.name.downcase %>" >

<% 15.times {  %>

Name: (required) <input name="[items][][name]" ><br>
Amount: <input name="[items][][amount]" ><br>
Good for <input name="[items][][expire]"> more days from today<br>
<br>
<% } %>

<input class="button-link" type="submit" value="Add Items">

</form>



</div> <!-- end class batchnew-listitem -->

</div> <!-- end class main content -->
</div> <!-- end class center wrapper -->
