Create a new kitchen item

<form action="/items" method="POST">
Name: (required) <input name="name" ><br>
Cabinet: (required) <br>
<input name="list" type="radio" value="fridge">Fridge<br>
<input name="list" type="radio" value="freezer">Freezer<br>
<input name="list" type="radio" value="pantry">Pantry<br>
<input name="list" type="radio" value="spices">Spices<br>

Amount: <input name="amount" ><br>
Good for <input name="expire"> more days from today<br>
<input type="submit" value="Add Item">
</form>