<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="/css/customstyle.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">


</head>


<body>


<div class="center-wrapper">
<header>
<% if is_logged_in? %>
<div class="top-ribbon-menu">
<form id="topbar-searchbox" action="/items/search" method="POST">
<input type="text" placeholder="Search an ingredient.." name="searchquery">
</form>

<a href="/">Home</a>
<a href="/logout">Log out</a>
</div>
<% else %>
<div class="top-ribbon-menu">
<form id="topbar-searchbox"  action="/items/search" method="POST">
<input type="text" placeholder="Search an ingredient.." name="searchquery">
</form>

<a href="/">Home</a>
<a href="/login">Log in</a>
</div>
<% end %>

</header>
</div>


<%= yield %>


<div class="center-wrapper">
<div class="dume">
<a href="#">Copyright Evermeal 2021. All Rights Reserved.</a>
<a href="#">FAQ</a>
<a href="#">About</a>
<a href="#">Privacy Policy</a>
<a href="#">Terms of Service</a>


</div>
</div>




</body>
</html>